<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <meta name="viewport" content = "width=device-width, initial-scale=1" charset="UTF-8"/>
        <title>Book Details</title>
    </head>
    <body>
        <div class="books">
            <p class="book_details" align="center">Enter Book Details</p>
            <form method="POST" class="form2">
                <input class="form2-input" type="text" align="center" placeholder="Enter Book name" name="bookname">
                <input class="form2-input" type="text" align="center" placeholder="Enter Author" name="author">
                <input class="form2-input" type="text" align="center" placeholder="Enter Copies" name="a">
                <br>
                <input type="submit" class="enter" align="center">
            </form>
        </div>
    </body>
</html>